body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
    text-align: center;
    padding: 20px;
}

.container {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: auto;
}

.result-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#result {
    flex-grow: 1;
    text-align: left;
}

button {
    background: #0B1EDF;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.settings {
    text-align: left;
    margin-top: 10px;
}

input[type="range"] {
    width: 100%;
}

